<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE hibernate-configuration PUBLIC  
              "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
              "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
      
<hibernate-configuration>  

	<!-- We specify desire to connect to the aws db -->
      
    <session-factory>  
    	<property name="hibernate.connection.username">admin</property>
		<property name="hibernate.connection.password">test1234</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@employeeattendancetracker.ctct7rg6v32d.us-west-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<!--  property name="hibernate.show_sql"></property> -->
		<!-- this creates our db. set it to update (or nothing) if db exists -->
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		
     	<mapping class="one.to.many.ERS_USERS"/>
     	
     </session-factory>  
</hibernate-configuration>  